<p>
  edit works!
</p>
<div class="container"> 
  <div class="row">
  <div class="col-md-6">
      <form #mvForm="ngForm"> 
          <div class="form-group">
              <h2>UserDetails</h2>
          </div>
        <div class="form-group">
          First Name * : 
          <input class="form-control" type="text"  name="firstname" [(ngModel)]="register.fname" />
        
        </div>
        
        <div class="form-group">
          LastName (optional*): 
          <input class="form-control" type="text" name="lastname" [(ngModel)]="register.lname" />
        </div>
        
        
        <div class="form-group">
          User Name: 
          <input class="form-control" type="text" name="Username" [(ngModel)]="register.username" />
        </div>
        
        <div class="form-group">
          Password : 
          <br/>
         
          <input class="form-control" type="text/password" name="password"  [(ngModel)]="register.password" />
        </div>
        
        <div class="form-group">  Email: 
          <input class="form-control" type="text" name="email" [(ngModel)]="register.email" />
        </div> 
        <div class="form-group">  phone No: 
          <input class="form-control" type="text" name="phone" [(ngModel)]="register.phone" />
        </div> 
        <div class="form-group">
          gender <br>
          <input type="radio" name="gender" value="male" [(ngModel)]="register.gender"> Male<br>
          <input type="radio" name="gender" value="female" [(ngModel)]="register.gender"> Female<br>
        <input type="radio" name="gender" value="other" [(ngModel)]="register.gender"> Other<br>  
        </div>
        <div class="form-group">
          <button class="btn btn-primary" (click)="edituser(mvForm)">update</button>
        </div>
        
        </form>
  </div>
  </div>
  </div> 
  