<p>
  details works!
</p>
<div class="container">
  <div class="row">
  <div class="col-md-10 col-offset-2">
      <div class="card" style="width:500px">
          <!-- <img class="card-img-top" [src]="movieinfoo.poster" alt="Card image"width="300px" height="300px" > -->
          <div class="card-body">
            <h4 class="card-title" style="color:greenyellow">username: {{register.username|uppercase}}</h4>
            <h5 style="color:blue"> password : {{register.password}}</h5>
            <h5 style="color:orchid"> gender : {{register.gender}}</h5>
            <h5 style="color:orchid"> fname : {{register.fname}}</h5>
            <h5 style="color:orchid"> lname : {{register.lname}}</h5>
            <h5 style="color:orchid"> email: {{register.email}}</h5>
            <!-- <video width="400px" height="300px"></video> -->
            <a href="#" class="btn btn-primary">details</a>
          </div>
        </div>
  </div>
  </div>
  </div>